<!--About and Objective Box
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro-->
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border-style: none;
    }

    td,
    th {
        border: 1px solid #0e0a0a;
        text-align: center;
        border-style: none;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .content-text {
        color: #e0f2f1;
    }
</style>

<table>
    <tr>
        <thead>
            <td class="content-text">Register

            </td>

            <td class="content-text">Companys

            </td>
            <td class="content-text">Departments

            </td>
    </tr>

    </thead>
    <tr>
        <td>


            <div> <img src="./img/Internship-Image1.jpg" width="50%" height="50%">
                <p class="content-text">Start your journey and discover the opportunities for your career. </p>
                <button
                    onclick="location.href='http://localhost/Internship-App/sections/student/student-Registration.php'"
                    class="btn btn-primary" type="button"> START NOW</button>
            </div>

        </td>
        <td>
            <div> <img src="./img/Internship-Image2.jpg" width="50%" height="35%">
                <p class="content-text"> We have a wide variety of companies from every major brand<br> certified for
                    your
                    protection. </p>
                <button
                    onclick="location.href='http://localhost/Internship-App/sections/company/display-Company-Data.php'"
                    class="btn btn-primary" type="button"> START NOW</button>
            </div>
        </td>

        <td>
            <div> <img src="./img/Internship-Image4.jpg" width="50%" height="35%">
                <p class="content-text"> Make the first step at taking your future in your hands.</p>
                <button
                    onclick="location.href='http://localhost/Internship-App/sections/internships/Internship-Registration.php'"
                    class="btn btn-primary" type="button"> START NOW</button>
            </div>
        </td>
    </tr>
    </tr>

</table>